body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    background-image: url(background/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

form {
    margin-bottom: 15px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.add-btn {
    background: #4CAF50;
    color: white;
}
.delete-btn {
    background: #ff6b6b;
    color: white;
}
.edit-btn {
    background: #1E90FF;
    color: white;
}

ol {
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    border-radius: 8px;
    background: #fff;
}

li {
    background: #f5f5f5;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

.completed {
    text-decoration: line-through;
    color: gray;
}