<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>やることリスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>習慣タスク</h1>

    <p>ここにタスクリストが表示されます。</p>
    <form method="post">
        <input type="text" name="task" placeholder="タスクを入力" required maxlength="17">
        <button type="submit" class="add-btn">追加</button> 
    </form>

    <ol>
        {% for task in tasks %}
            <li>
                <form method="post" action="/toggle/{{loop.index0}}" style="display: inline;">
                    <input type="checkbox" name="done" onchange="this.form.submit()" {% if task.done %}checked{% endif %}>
                    {{task.name}}
                </form>
                <form method="post" action="/delete/{{ loop.index0 }}" style="display:inline;">
                    <button type="submit" class="delete-btn">削除</button>
                </form>
            </li>
        {% endfor %}
    </ol>
</body>
</html>