<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>やる気出すナマケモノ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_2.ico') }}">
</head>
<body>
    <h1>やる気出すナマケモノ</h1>

    <p>ここにタスクリストが表示されます。</p>
    <form method="post">
        <input type="text" name="task" placeholder="タスクを入力" required maxlength="17">
        <button type="submit" class="add-btn">追加</button> 
    </form>

    <ol>
        {% for task in tasks %}
            <li>
                <form method="post" action="/toggle/{{task.id}}" style="display: inline;">
                    <input type="checkbox" name="done" onchange="this.form.submit()" {% if task.done %}checked{% endif %}>
                    {{task.name}}
                </form>

                <form method="post" action="/delete/{{ task.id }}" style="display:inline;">
                    <button type="submit" class="delete-btn">削除</button>
                </form>
                
                <a href="{{ url_for('edit', task_id=task.id) }}">編集
                </a>
            </li>
        {% endfor %}
    </ol>
</body>
</html>